.elements {
  width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 320px) {
  .elements {
    width: 282px;
    grid-template-columns: 1fr;
  }
}