.footer {
    max-width: 880px;
    margin: 65px auto 60px;
}

.footer__copyright {
    color: #545454;
    font-size: 18px;
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin: 40px auto 30px;
  }
}