.header {
    max-width: 880px;
    height: 74px;
    margin: 45px auto 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__logo {
    width: 173px;
    height: 33px;
}

.header__divider {
    border: none;
    height: 1px;
    background-color: #545454;
    width: 100%;
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 320px;
        height: 56px;
        margin: 20px auto 30px;
    }
    
    .header__logo {
        width: 126px;
        height: 24px;
        padding-left: 25px;
    }
}