.profile {
    max-width: 1280px; 
    margin: 0 auto 50px auto;
}

.profile__details {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    
    width: 880px;
    height: 120px;
    box-sizing: border-box; 
}

.profile__avatar {
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    overflow: hidden;
    margin-right: 15px;
}

.profile__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile__text {
    margin-right: auto;
}

.profile__name {
    font-size: 42px;
    margin: 0 10px 0 0;
    line-height: 48px;
    color: #fff;
}

.profile__name-wrapper {
    display: flex;
    align-items: center;
    height: auto;
}

.profile__role {
    font-size: 18px;
    color: #fff;
}

.profile__edit-icon {
    width: 10px;
    height: 10px;
}

.profile__edit-button {
    background: transparent;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    /*margin-left: 5px;*/
    padding: 0;
    line-height: 1;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.3s ease-in-out;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

.profile__add-icon {
    width: 22px;
    height: 22px;
}

.profile__add-button {
    width: 150px;
    height: 50px;

    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.3s ease-in-out;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .profile {
        max-width: 282px;
    }

    .profile__details {
        width: 282px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile__text {
        text-align: center;
        width: 100%;
        margin: 30px auto 30px auto;
    }

    .profile__name-wrapper {
        justify-content: center;
        margin-bottom: 5px;
    }

    .profile__name {
        font-size: 22px;
        line-height: 28px;
        margin: 0 10px 0 0;
    }

    .profile__role {
        font-size: 14px;
    }

    .profile__edit-icon {
        width: 8px;
        height: 8px;
    }

    .profile__edit-button {
        width: 18px;
        height: 18px;
    }

    .profile__add-icon {
        width: 16px;
        height: 16px;
    }
    .profile__add-button {
        width: 282px;
        height: 50px;
    }
}